<h1 class="text-3xl font-semibold text-center mb-6"><%= @category.name %></h1>

<h3 class="text-2xl font-semibold mb-4">Books in this category:</h3>
<ul class="space-y-2">
  <% @books.each do |book| %>
    <li class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow duration-300">
      <%= link_to book.title, book_path(book), class: "text-xl text-blue-600 hover:text-blue-800" %>
    </li>
  <% end %>
</ul>
