<h1 class="text-3xl font-semibold text-center mb-6"><%= @category.name %></h1>

<h3 class="text-2xl font-semibold mb-4">Books in this category:</h3>
<ul class="space-y-2">
  <% @books.each do |book| %>
    <li class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow duration-300">
      <%= link_to book.title, book_path(book), class: "text-xl text-blue-600 hover:text-blue-800" %>
    </li>
  <% end %>
</ul>
<div class="flex space-x-4 mt-4">
  <%= link_to "Edit", edit_category_path(@category), class: "px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600" %>
  
  <%= button_to "Delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" %>
</div>
